pandas
scikit-learn
google-cloud-bigquery
apache-airflow-providers-google
presidio_analyzer
presidio_anonymizer
jinja2
nltk
autocorrect
dvc
dvc_gs
supabase
python-dotenv
pymupdf4llm
nomic
semantic_text_splitter
tokenizers